<%- include('../partials/header') %>

<div class="user-profile">
  <h1 class="profile-name"><%= userProfile.name %></h1>
  <div class="profile-details">
    <p class="profile-detail"><span class="detail-label">Age:</span> <span class="age-text"><%= userProfile.age %></span></p>
    <p class="profile-detail"><span class="detail-label">Belt Rank:</span> <span class="belt-rank-text"><%= userProfile.beltRank %></span></p>
  </div>
</div>




<span class="training-sessions-label">Training Sessions</span>
<div class="profile-sessions">
  <table class="session-table">
    <thead>
      <tr>
      </tr>
      <tr>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% trainingSessions.forEach(function(session) { %>
      <tr>
        <td><%= session.date %></td>
        <td>
          <a href="#" class="view-session-button" data-session-id="<%= session._id %>">View Details</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<span class="user-techniques-label">Techniques</span>
  <div class="profile-techniques">
    <table class="technique-table">
      <thead>
        <tr>
          <th>Technique Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% userProfile.techniques.forEach(function(technique) { %>
        <tr>
          <td><%= technique.name %></td>
          <td><a href="/profiles/<%= userProfile._id %>/removeTech/<%= technique._id %>" class="remove-link">Remove</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div class="profile-actions">
    <a href="/profiles/<%= userProfile._id %>/trainingSession" class="training-session-button">Create Training Session</a>
    <a href="<%= userProfile._id %>/addTech" class="add-tech-button">Add Techniques</a>
  </div>



<%- include('../partials/footer') %>

