<!-- views/profile.ejs -->
<%- include('../partials/header') %>

<h1>User Profile</h1>

<div>
  <p>Name: <%= userProfile.name %></p>
  <p>Age: <%= userProfile.age %></p>
</div>

<div>
  <p>Belt Rank: <%= userProfile.beltRank %></p>
  <p>Email: <%= userProfile.email %></p>
  <!-- <p>Avatar: <img src="<%= userProfile.avatar %>" alt="User Avatar"></p> -->
</div>


<div>
  <p>Training Sessions:</p>
  <ul>
    <% trainingSessions.forEach(function(session) { %>
    <li>
      <a href="/profiles/<%= userProfile._id %>/sessions/<%= session._id %>">
        Date: <%= session.date %>
      </a>
    </li>
    <% }); %>
  </ul>
</div>

<!-- make tech a popup modal -->
<div>
  <p>Techniques:</p>
  <ul>
    <% userProfile.techniques.forEach(function(technique) { %>
    <li><%= technique.name %></li>
    <a href="/profiles/<%= userProfile._id %>/removeTech/<%= technique._id %>">Remove</a>
    <% }); %>
  </ul>
</div>
<a href="<%=userProfile._id%>/addTech">add techniques</a>




<%- include('../partials/footer') %>
