<%- include('../partials/header') %>

<h1>All Techniques</h1>

<form action="/techniques" method="get">
  <label for="isSubmission">Filter by Submission:</label>
  <select name="isSubmission" id="isSubmission">
    <option value="">All Techniques</option>
    <option value="true" <% if (selectedIsSubmission === 'true') { %>selected<% } %>>Submission</option>
    <option value="false" <% if (selectedIsSubmission === 'false') { %>selected<% } %>>Non-Submission</option>
  </select>

  <button type="submit">Apply Filters</button>
  <a href="/techniques">Reset</a> 
</form>




<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Is Submission</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% techniques.forEach(function(technique) { %>
      <tr>
        <td><%= technique.name %></td>
        <td><%= technique.position %></td>
        <td><%= technique.isSubmission %></td>
        <td><%= technique.description %></td>
      </tr>
    <% }); %>
    